{% extends "base.html" %}
{%- from "_macros.html" import icon -%}
{% block content %}
    <!--start zone Content--><!--start widget-->
{%- if site.yandex_metrika_id %}
<!-- Yandex.Metrika counter --><script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym({{ site.yandex_metrika_id }}, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script><noscript><div><img src="https://mc.yandex.ru/watch/{{ site.yandex_metrika_id }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
{%- endif %}
<div class="product-detail">
<div class="container">
{%- for block in blocks %}
<div class="info-block product-detail__item">
<h2 class="title info-block__title">{{ block.title }}</h2>
<ul class="documents-list">
{%- for item in block['items'] %}
<li class="documents-list__item"><a class="documents-list__link" href="{{ item.url }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ icon('icon-pdf', 24, 24, 'documents-list__icon', item.get('tight_icon', false)) }}{{ item.title }}</a></li>{%- endfor %}</ul></div>
{%- endfor %}
<div class="info-block product-detail__item">
<ul class="content-list">
<li class="content-list__item"><a class="content-list__link" href="{{ site.archive_link.url }}" target="{{ site.archive_link.target }}">{{ site.archive_link.title }}{{ icon('icon-arrow-double-right', 8, 10, 'content-list__icon') }}</a></li></ul></div></div></div>

<!--end widget--><!--end zone Content-->
    <!--start zone BelowContent--><!--end zone BelowContent-->
    <!--start zone RecursiveBelowContent--><!--end zone RecursiveBelowContent-->
{%- endblock content -%}
